body {
  text-align: center;
  font-family: sans-serif;
  background-color: #fff8f0;
  padding: 50px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}

#cake {
  margin-top: 30px;
  width: 300px;
  animation: pop-in 0.8s ease;
}

.hidden {
  display: none;
}

@keyframes pop-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


img {
  width: 200px;
}
@keyframes pop-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#cake {
  margin-top: 30px;
  animation: pop-in 0.8s ease;
}

